@font-face {
    font-family: 'Cabin Sketch';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/font/Cabin_Sketch/CabinSketch-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Cabin Sketch';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("assets/font/Cabin_Sketch/CabinSketch-Bold.ttf") format('truetype');
}
